.home-page {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 680px; /* Full viewport height */
  margin: 0 20px; /* Margin on both sides */
  /* background-color: #d07676; Background color for the home section */
  padding: 45px;
  /* overflow-y: hidden; */
}

.text-container {
  flex: 1 1;
  padding-right: 5px;
  margin-left: 5%;
}

.main-text {
  font-size: 3.2rem;
  font-weight: bold;
  color: rgba(255, 180, 0, 0.8); /* Main text color */
  margin: 0; /* Remove default margins */
  margin-top: 0; /* Ensure no margin at the top */
}

.main-sub-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(255, 180, 0, 0.8); /* Main text color */
  margin: 0; /* Remove default margins */
  margin-top: 0; /* Ensure no margin at the top */
  line-height: 1.5; /* Adjust line height as needed */
  font-style: italic;
}

.sub-text {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.743); /* Subtext color */
  margin-top: 10px;
  line-height: 1.5; /* Adjust line height as needed */
  font-style: italic;
}
.image-container {
  position: relative;
  width: 300px;
  height: 300px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  position: absolute;
  /* left: 185px; */
}

.bottom-image {
  z-index: 1;
  width: 400px;
  height: 400px;
}

.top-image {
  z-index: 2;
  width: 80%;
  height: 80%;
  object-fit: cover; /* Ensure the image fits the container */
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .home-page {
    flex-direction: column;
    margin-right: 5%;
  }

  .image-container {
    order: 1;
  }

  .text-container {
    order: 2;
  }

  .main-text,
  .sub-text,
  .main-sub-text {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .home-page {
    height: 800px;
  }
  .text-container {
    margin-top: 25px;
  }
  .image-container {
    margin-top: 10px;
  }
  .main-text {
    font-size: 1.5em;
  }

  .sub-text {
    font-size: 0.9em;
  }
}
