.navbar {
  width: 100%;
  background-color: #2a2c39; /* Transparent background */
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin: 0 20px;
  position: relative;
}

.navbar-item a {
  color: rgba(255, 255, 255, 0.743);
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  transition: color 0.3s;
}

.navbar-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.743);
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: bottom right;
}

.navbar-item a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px;
  }

  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar-item {
    text-align: left;
    margin: 10px 0;
  }

  .navbar-item a {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar-item {
    margin: 5px 0;
  }

  .navbar-item a {
    padding: 10px;
  }
}

.section {
  /* padding: 100px 20px; */
  /* margin-top: 60px; to avoid overlap with fixed navbar */
}

/* #home {
  background-color: #f4f4f4;
}

#career {
  background-color: #e4e4e4;
}

#skills {
  background-color: #d4d4d4;
}

#resume {
  background-color: #c4c4c4;
} */
