/* Base styles */

.navbar {
  background: transparent;
  padding: 5px 5px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Center the navbar content */
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the transparency (alpha value) as needed */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  box-sizing: border-box;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: none; /* Hide logo by default */
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: max-height 0.3s ease-in-out;
}

.navbar-item a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
  position: relative;
}

.navbar-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.navbar-item a:hover::after {
  width: 100%;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  z-index: 1100; /* Ensure it stays above the menu */
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(8px);
}

.hamburger.open {
  background: transparent;
}

.hamburger.open::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    max-height: 0;
    overflow: hidden;
    width: 100%; /* Ensure it spans the full width */
  }

  .navbar-menu.open {
    width: 100%;
    max-height: 300px;
  }

  .navbar-item {
    text-align: center;
    padding: 10px 0;
    margin-right: 105px;
  }

  .navbar-item a {
    padding: 20px;
  }

  .navbar-logo {
    display: block; /* Show logo on small screens */
  }
}

@media (min-width: 769px) {
  .navbar-container {
    justify-content: center; /* Center navbar content on larger screens */
  }
}

/* .section { */
/* padding: 100px 20px; */
/* margin-top: 60px; to avoid overlap with fixed navbar */
/* } */

/* #home {
  background-color: #f4f4f4;
}

#career {
  background-color: #e4e4e4;
}

#skills {
  background-color: #d4d4d4;
}

#resume {
  background-color: #c4c4c4;
} */
