@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple");

/* body {
  font-family: 'Source Sans Pro', sans-serif;
} */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  cursor: none;

  /* Hide the default cursor */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  --cursor-color: rgba(190, 109, 0, 1);
}

/* html.dark-mode {
  --cursor-color: #fff
} */

/* #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 */

/* Section Styles */
/* section {
  padding: 60px 20px;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #bb86fc;
  margin: 0 0 20px;
}

p {
  color: #b0b0b0;
}

a {
  color: #03dac6;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ff0266;
}
